body {
    background: url("../../images/bg.jpg");
}
#loginForm {
    width: 300px;
    margin: 200px auto 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    
    #loginBtn {
        width: 100%;
        background: #f76f71;
        color: white;
        border: none;
    }
    .message-tip {
        margin-top: 10px;
        text-align: right;
        color: #777;
        font-size: 13px;
    }
}