.search-condition {
    // padding: 20px 0;
    padding: 5px 0;
    position: relative;
    .box {
        display: inline-block;
        // width: 48%;
        margin: 5px 0;
        color: #777;
        font-size: 0;
        .search-label {
            width: 150px;
            text-align: right;
            font-size: 14px;
            // 短一点
            &.search-label-short {
                width: 120px;
            }
        }
        .search-input {
            $height: 32px;
            font-size: 14px;
            .el-input{
                width: 160px;
            }
            .el-input__inner {
                height: $height;
                line-height: $height;
            }
            div.el-select .el-input .el-select__caret {
                line-height: $height;
            }
            .el-date-editor {
                .el-input__prefix {
                    top: -3px;
                }
                .el-input__suffix {
                    top: -3px;
                }
            }
        }
    }
    .box+.search-btn-box {
        margin-left: 20px;
    }
    .search-btn-box {
        display: inline-block;
        // text-align: right;
        button {
            font-size: 14px;
            letter-spacing: 1.5px;
            padding: 8px 15px;
            display: inline-block;
        }
        button+button {
            margin-left: 10px;
        }
    }
}