$sidebar_width: 200px;
$topbar_height: 60px;
$highlight_color: #2196f3;
// $highlight_color: #f44336;
// $highlight_color: #009688;
body {
    min-width: 1300px;
}
#topbar {
    position: relative;
    background: #fff;
    height: $topbar_height;
    color: $highlight_color;
    // 如果不设置z-index，那么box-shadow显示不出来，会被下面的主内容盖住了。
    z-index: 1;
    box-shadow: 0 0 5px #999;
    // logo标题
    .logo {
        display: inline-block;
        // 字号为20px的文字，高约26px。如果字号大小改了，这里也要改
        padding-top: ($topbar_height - 26px)/2;
        font: {
            family: "微软雅黑";
            size: 20px;
            weight: bold;
        }
    }
    // 靠右对齐
    .rightAlignContainer {
        position: absolute;
        right: 0;
        top: 0;
        &>* {
            display: inline-block;
            vertical-align: top;
        }
    }
    // 导航菜单
    nav {
        margin-right: 30px;
        // 每个菜单
        a {
            display: inline-block;
            text-decoration: none;
            height: $topbar_height;
            padding-left: 12px;
            padding-right: 12px;
            color: $highlight_color;
            cursor: pointer;
            // 图标
            i.fa {
                display: block;
                text-align: center;
                margin: 10px 0 5px;
                font-size: 20px;
            }
            // 名称
            span.name {
                display: block;
                text-align: center;
                margin-top: 3px;
                font-size: 13px;
                font-family: "微软雅黑";
            }
        }
        // 选中、hover时的效果
        a:hover,
        a.router-link-active {
            background: $highlight_color;
            color: white;
        }
    }
    // 信箱
    .mailBox {
        margin-right: 30px;
        i.fa-envelope-o {
            color: $highlight_color;
            // 字号为20px的图标，高约20px。如果字号大小改了，这里也要改
            padding-top: ($topbar_height - 20px)/2;
            font-size: 20px;
        }
    }
    // 用户box
    #userBox {
        margin-right: 10px;
        // 这里要用行高，而不能用padding-top来控制位置。原因是：这里有一个hover效果，如果用padding-top来控制。那么在下半部分没有办法触发hover。
        height: $topbar_height;
        line-height: $topbar_height;
        font-size: 16px;
        .username {
            cursor: pointer;
            font-size: 14px;
        }
        i.fa-caret-down {
            margin-left: 10px;
        }
        &:hover ul {
            display: block;
        }
        ul {
            display: none;
            position: absolute;
            top: 50px;
            right: 5px;
            width: 120px;
            z-index: 999;
            box-shadow: #aaa 2px 3px 10px 0;
            border-radius: 4px;
            li {
                line-height: 20px;
                border-top: 1px solid #c4d7d9;
                background: #fff;
                text-align: left;
                padding: 12px 8px;
                color: $highlight_color;
                font-size: 13px;
                cursor: pointer;
                margin: 0;
                display: block;
                &:hover {
                    background: $highlight_color;
                    color: #fff;
                    border-top-color: $highlight_color;
                }
            }
        }
    }
}
#main_container {
    position: relative;
    width: 100%;
    overflow: auto;
    #sidebar_wrap {
        width: $sidebar_width;
        transition: 0.3s;
        // 下面一行不能删 是为了小屏时，sidebar_wrap宽度变小，不会出横向滚动条
        overflow-x: hidden;
        overflow-y: auto;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        bottom: 0;
        // background: url('../img/ht-leftBar-bg.png');
        background: #333;
        background-size: cover;
        #leftNav_control {
            color: white;
            font-family: "微软雅黑";
            color: white;
            text-align: right;
            padding-right: 2px;
            &>.inner {
                width: 30px;
                cursor: pointer;
                display: inline-block;
                text-align: center;
                i.fa {
                    font-size: 22px;
                    display: block;
                }
                span.txt {
                    display: block;
                    font-size: 14px;
                }
            }
        }
        #leftNav {
            .name_and_controlBtn {
                a.limitless-menu-li-name {
                    padding: 10px 0;
                    font-family: "微软雅黑";
                    font-size: 12px;
                    // 未选中时
                    &, &:focus {
                        color: #eee;
                    }
                    // 选中时、hover时
                    &.router-link-active, &:hover {
                        background: $highlight_color;
                    }
                }
                .controlBtn {
                    top: 5px;
                    color: white;
                    color: rgba(255, 255, 255, 0.8);
                    right: 10px;
                }
            }
        }
    }
    #content_wrap {
        margin-left: $sidebar_width;
        background: #fdfcfa;
        padding: 10px;
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
    }
}
// ------------------------------- 侧边收缩了 -------------------------------

$sidebar_width_cutted: 30px;
#main_container.cuttedSideBar {
    #sidebar_wrap {
        width: $sidebar_width_cutted;
        #leftNav {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
    #content_wrap {
        margin-left: $sidebar_width_cutted;
    }
}