.el-card {
    margin-bottom: 8px;
    .el-card__header {
        padding: 12px 15px;
        font-size: 13px;
    }
    .el-card__body {
        padding: 12px;
        font-size: 12px;
        p{
        	margin:10px 0;
        }
    }
}