.el-dialog__header {
    padding-top: 10px;
    line-height: normal;
    .el-dialog__title {
        font-size: 14px;
        font-weight: bold;
        color: #555;
    }
    .el-dialog__headerbtn {
        top: 15px;
    }
}
.el-dialog__body {
    padding: 15px 20px 15px;
}
.el-dialog__footer {
    line-height: normal;
    padding-top: 0;
    padding-bottom: 10px;
    .el-button {
        padding: 10px 12px;
        font-size: 14px;
    }
}