
// ----------------- 大小 -----------------
.el-button.size-tiny {
    padding: 4px 5px;
    font-size: 12px;
}
.el-button.size-small {
    padding: 5px 10px;
    font-size: 12px;
}
.el-button.size-common {
    padding: 8px 14px;
    font-size: 12px;
}
.el-button.size-big {
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 2px;
}